/*********************************************
 * TOPBAR
 *********************************************/

#topbar {
	display:block;
	position:absolute;
	top:0px;
	height:50px;
	width:100%;
	padding:0;margin:0;
	font-family: 'Akkurat','Helvetica',sans;
	color:#6EC72D;
	font-weight:bold;
	background-color:#6EC72D;
	opacity:0;
	z-index:1;
}

#topbar.hidden {
	display:none;
}

#bottombar {
	position:absolute;
	bottom:0px;
	width:100%;
	padding:6px;
	font-family: 'Akkurat','Helvetica',sans;
	color:gray;
	font-weight:normal;
	font-size:11px;
	opacity:1;
	z-index:5;
}

.page {
	color:black;
}


/*#topbar {
	position:absolute;
	top:0px;
	height:60%;
	width:100%;
	padding:1em;
	font-family: 'Akkurat','Helvetica',sans;
	color:#6EC72D;
	font-weight:bold;
	background-image:url('../images/back-1.png');
	background-size: cover;
	background-position:center bottom;
	opacity:1;
}
*/